.git
.github
node_modules
vendor
mobile/node_modules
mobile/.expo
mobile/dist
public/build
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
bootstrap/cache/*.php
bootstrap/cache/*.json
.env
.env.*
!.env.example
mobile
